.main{
    width: 980px;
    height: 455px;
    margin-left: 220px;
    
    margin-top: 10px;
}
.focus{
    float: left;
    width: 721px;
    height: 455px;
}
.newsflash{
    float: right;
    width: 250px;
    height: 455px;
}

.news{
    height: 165px;
    border: 1px solid #ccc;
}
.news-hd{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px #ccc dotted;
    padding: 0 15px;
}
.news-hd h5{
    float: left;
font-size: 12px;
}
.news-hd a{
    float: right;
}
.news-hd a::after{
    content: '\ea50';
    font-family: 'icomoon';
    margin-left: 3px;
}
.news-bd{
    height: 130px;
    padding-left: 17px;
    padding-top: 3px;
}
.news-bd ul li{
    height: 24px;
    line-height: 24px;
}

.lifeservice{
    overflow: hidden;
    height: 209px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-top: 0px;
}
.lifeservice ul{
    width: 252px;
}
.lifeservice ul li{
    float: left;
    width: 63px;
    height: 70px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* padding-left: 21px; */
    text-align: center;
    padding-top: 13px;
}
.lifeservice ul li i{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url(../images/icons.png) -19px -15px;
}
.lifeservice ul li i p{
    display: block;
}
.recom{
    height: 163px;
    margin-top: 7px;
    background-color: red;
}
.recom .recom-hd{
float: left;
height: 163px;
width: 206px;
background-color: #5c5251;
text-align: center;
line-height: 163px;
}
.recom .recom-bd{
float: left;
width: 994px;
height: 163px;
background-color: #ebebeb;
}
.recom .recom-bd ul li{
    position: relative;
    float: left;
}
/* 因为图片是随时要更换的，可以写死，让任何图片大小都一样 */
.recom-bd ul li img{
    width: 248px;
    height: 163px;
}
.recom-bd ul li:nth-child(-n+3)::after{
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 2px;
    height: 143px;
    background-color: #ccc;
}
.floor{
    margin-top: 30px;
}
.box_hd{
    height: 30px;
    line-height: 30px;
    border-bottom: 2px solid red;
}
.box_hd h3{
    float: left;
    font-size: 14px;
    font-weight: 400;
    color: red;
}
.box_hd ul li{
    float: right;
}
.box_hd ul li a{
    padding: 0 10px;
}
.box_bd{
    height: 361px;
}
/* 子代选择器 选择里面的亲儿子 */
.tab_list_item>div{
    float: left;
    height: 361px;
}
.col_210{
    width: 210px;
    background-color: #f9f9f9;
}
.col_210 ul{
padding-left: 12px;
}
.col_210 ul li{
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #5c5251;
    text-align: center;
    line-height: 34px;
    margin-right: 10px;
}
.col_329{
    width: 329px;
}
.col_221{
    width: 221px;
}
.shang{
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.xia{
    border-right: 1px solid #ccc;
}
.col_221{
    width: 221px;
}
.col_219{
    width: 219px;
    border-left: 1px solid #ccc;
}
.xia1{
    border-top: 1px solid #ccc;
}
