.w{
    width: 1200px;
    margin: 0 auto;
}
.header{
    padding-top: 20px;
    height: 80px;
    border-bottom: 2px solid red;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 42px;
    line-height: 42px;
    font-weight: 400;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}
.registerarea h3 span{
    float: right;
    margin-right: 10px;
}
.registerarea h3 span a{
    color: red;
}
.reg-form{
    width: 600px;
    margin: 20px auto;
}
.reg-form ul li{
    margin-bottom: 20px;
}
.reg-form ul li label{
    display: inline-block;
    width: 78px;
    text-align: right;
    margin-right: 10px;
}
.reg-form ul li .tim{
    width: 241px;
    height: 36px;
    border: 1px solid black;
}
.error{
    margin-left: 10px;
    color: red;
}
.error_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
    background: url(../images/error.png) no-repeat;
}
.success{
    margin-left: 10px;
    color: green;
}
.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
    background: url(../images/success.png) no-repeat; 
}
.sefe{
    padding-left: 175px;
    color: #ccc;
}
.sefe em{
    color: #ececec;
    padding: 0 12px;
    margin-right: 2px;
}
.ruo{
    background-color: red;
}
.zhong{
    background-color: green;
}
.qiang{
    background-color: yellow;
}
.sefe1{
    padding-left: 135px;
    margin-top: 40px;
}
.sefe1 input{
    /* 让文字与图片对齐 */
    vertical-align: middle;
}
.sefe1 span{
    margin-left: 5px;
}
.rig_1{
    color: #a4d9f5;
}

.sefe2{
    width: 200px;
    height: 35px;
    line-height: 35px;
    margin-left: 96px;
    margin-top: 50px;
    text-align: center;
    background-color: red;
    color: #fff;
}
.mod_copyright{
    padding-top: 20px;
    text-align: center;
}
.mod_copyright .links{
    margin-bottom: 15px;
}
.links a{
    margin: 0 3px;
}
.mod_copyright .copyright{
    line-height: 20px;
}
